# Ignorar archivos de control de versiones
.git/
.gitignore

# Ignorar cachés de Python y archivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entorno virtual (venv)
venv/
.venv/
ENV/
env/
*.env

# Ignorar configuraciones locales y archivos de desarrollo
.mypy_cache/
.coverage
htmlcov/
.vscode/
*.code-workspace

# Ignorar distribuciones y archivos de instalación
*.egg
*.egg-info
dist/
sdist/
eggs/
develop-eggs/
parts/
bin/
var/
.installed.cfg
pip-log.txt
.tox/

# Ignorar archivos de configuración locales y otros temporales
*.mo
.s3cfg
.ipynb_checkpoints/